/* Fonts */
/* @font-face {
    font-family: 'google';
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/Usocute/cdn/fonts/google.woff2) format('woff2');
   } */

   :root{
    --miraitowa-white: #fff;
    --miraitowa-black: #000;
    --miraitowa-none: rgba(0,0,0,0);
    --miraitowa-gray: #999999;
    --miraitowa-yellow: #ffc93e;
    --miraitowa-main: #007AFF;
    --miraitowa-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234,.20);
    --miraitowa-shadow-white: 0 8px 12px -3px rgba(255, 255, 255,.20);
    --miraitowa-shadow-black: 0 0 12px 4px rgba(0, 0, 0,.05);
    --miraitowa-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62,.12);
    --miraitowa-shadow-pink: 0 8px 12px -3px #ee7d7936;
    --miraitowa-logo-color: linear-gradient(215deg,#4584ff 30%,#ff7676 70%);
  }
  
  ::-moz-selection {
    background: var(--miraitowa-blue);
    color: var(--miraitowa-white);
  }
  
  ::selection {
    background: var(--miraitowa-blue);
    color: var(--miraitowa-white);
  }
  
  [data-theme=light] {
    --miraitowa-theme: #425AEF;
    --miraitowa-blue: #425AEF;
    --miraitowa-red: #D8213C;
    --miraitowa-green: #008200;
    --miraitowa-fontcolor: #363636;
    --miraitowa-background: #f7f9fe;
    --miraitowa-reverse: #000;
    --miraitowa-maskbg: rgba(255, 255, 255, 0.6);
    --miraitowa-hovertext: #5374ff;
    --miraitowa-ahoverbg: #F7F7FA;
    --miraitowa-lighttext: #ef794f;
    --miraitowa-secondtext: rgba(60, 60, 67, 0.6);
    --miraitowa-scrollbar: rgba(60, 60, 67, 0.4);
    --miraitowa-card-btn-bg: #f1f2f2;
    --miraitowa-post-blockquote-bg: #fafcff;
    --miraitowa-post-tabs-bg: #f2f5f8;
    --miraitowa-secondbg: #ededed;
    --miraitowa-shadow-nav:0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --miraitowa-card-bg: #fff;
    --miraitowa-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --miraitowa-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --miraitowa-copy-color: #000;
    --miraitowa-link-bg-color: #f0f0f0;
  }
  
  [data-theme=dark] {
    --miraitowa-theme: #0084FF;
    --miraitowa-blue: #0084FF;
    --miraitowa-red: #FF3842;
    --miraitowa-green: #00FF00;
    --miraitowa-fontcolor: #F7F7FA;
    --miraitowa-background: #18171d;
    --miraitowa-reverse: #fff;
    --miraitowa-maskbg: rgba(0,0,0, 0.6);
    --miraitowa-hovertext: #0A84FF;
    --miraitowa-ahoverbg: #fff;
    --miraitowa-lighttext: #f2b94b;
    --miraitowa-secondtext: #a1a2b8;
    --miraitowa-scrollbar: rgba(200, 200, 223, 0.4);
    --miraitowa-card-btn-bg: #2e2d38;
    --miraitowa-post-blockquote-bg: #000;
    --miraitowa-post-tabs-bg: #121212;
    --miraitowa-secondbg: #30343f;
    --miraitowa-shadow-nav:0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --miraitowa-card-bg: #1d1b26;
    --miraitowa-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --miraitowa-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --miraitowa-copy-color: #FFF;
    --miraitowa-link-bg-color: #000;
  }
  

/* 鼠標指針樣式 */
body {
  cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/default.cur), default
}

.read-mode {
  font-size: 17px
}

.read-mode #web_bg {
  background: #fdf6e3
}

a,
img {
  cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/pointer.cur), default
}

li {
  list-style: none;
}

video {
  width: 100%
}

.card-info-avatar:hover {
  background: url(https://ae01.alicdn.com/kf/H3342af90d24b4d62b9bbfec9688ccc25M.gif)
}

audio {
  outline: 0
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5 !important;
  background-image: -webkit-linear-gradient(
	45deg,
	rgba(255, 255, 255, 0.4) 25%,
	transparent 25%,
	transparent 50%,
	rgba(255, 255, 255, 0.4) 50%,
	rgba(255, 255, 255, 0.4) 75%,
	transparent 75%,
	transparent
  ) !important;
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}

[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background-color: #1f1f1f !important;
}

/* 隐藏Aplayer Cover,只留下右侧的箭头栏 */
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important
}

a {
  text-decoration: none;
}

div.usercm {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #fff;
  font-size: 13px !important;
  width: 130px;
  box-shadow: 0px 0px 15px #333;
  position: absolute;
  display: none;
  z-index: 10000;
  opacity: 0.9;
  border-radius: 5px;
}

div.usercm ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px;
  display: block
}

div.usercm ul li {
  margin: 0px;
  padding: 0px;
  line-height: 35px;
}

div.usercm ul li a {
  color: #666;
  padding: 0 15px;
  display: block
}

div.usercm ul li a:hover {
  color: #fff;
  background: rgba(9, 145, 113, 0.88);
  border-radius: 5px
}

div.usercm ul li a i {
  margin-right: 10px
}

a.disabled {
  color: #c8c8c8 !important;
  cursor: not-allowed
}

a.disabled:hover {
  background-color: rgba(255, 11, 11, 0) !important
}

div.usercm {
  background: #fff !important;
}

#bber .timeline ul .list {
  margin-left: -2.5em;
}

/* 朋友圈页面微调 */
.moments-item-img img {
  border-radius: 15px !important;
}
/* 导航条 */
#nav .menus_items .menus_item .menus_item_child {
  border-radius: 10px;
} 

#page-header.not-top-img #nav {
  font-size: 1.45em;
}

/* 古诗词卡片 */
#card-poem{
  display: flex;
  flex-direction: column;
  padding: 0.5rem!important;
  min-height: 130px;
}

div#poem_sentence{
  text-align: center;
  font-family: serif,cursive;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 12px;
  background: var(--miraitowa-secondbg);
  min-height: 62px;
}

div#poem_info{
  display: flex;
  color: var(--miraitowa-secondtext);
  font-size: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

div#poem_author{
  order: 1;
  padding: 2px;
  margin-left: 8px;
}

div#poem_dynasty{
  order: 0;
  padding: 2px 4px 2px 6px;
  background: var(--miraitowa-card-btn-bg);
  color: var(--miraitowa-fontcolor);
  border-radius: 8px;
}

footer#footer{
  background: var(--miraitowa-card-bg);
}

footer#footer .copyright {
  color: var(--miraitowa-copy-color);
}


/* 无操作时滚动条隐藏 */

/* 独立出滚动条 */
/* html {
  overflow-y: overlay;
} */

.recent-post-item {
  background: var(--miraitowa-card-bg);
}

#local-search .search-dialog {
  border-radius: 15px;
}

.aside-list-item a img {
  border-radius: 8px;
}

/* 字体滚动 */
.page-title {
  display: none;
}

:root {
  --offset: 0px;
}

.aboutsiteTips {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.aboutsiteTips h2 {
  width: 980px;
  font-size: 100px;
  font-family: Helvetica;
  line-height: 1.06;
  letter-spacing: -0.02em;
  color: var(--font-color);
}

.aboutsiteTips .mask {
  height: 100px;
  position: relative;
  overflow: hidden;
  margin-top: 12px;
}

.aboutsiteTips .mask span {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 100px;
  padding-bottom: var(--offset);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.aboutsiteTips .mask span[data-show] {
  transform: translateY(-100%);
  transition: .5s transform ease-in-out;
}

.aboutsiteTips .mask span[data-up] {
  transform: translateY(-200%);
  transition: .5s transform ease-in-out;
}

.aboutsiteTips .mask span:nth-child(1) {
  background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.aboutsiteTips .mask span:nth-child(2) {
  background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.aboutsiteTips .mask span:nth-child(3) {
  background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.aboutsiteTips .mask span:nth-child(4) {
  background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

@media screen and (max-width: 769px) {
  .aboutsiteTips h2 {
      font-size: 50px;
  }

  .aboutsiteTips{
      min-height: 40vh;
  }

  .aboutsiteTips .mask{
      height: 50px;
  }
}

/* 友人帐微调 */
.flink-list .flink-list-item {
  background: var(--miraitowa-link-bg-color);
}
